.container{
   background-color: lightblue;
   display: flex;
   /* flex-direction: column;
   flex-wrap: wrap; */

   /* Short Hand Notation */
   flex-flow: row wrap; 

}

.container>div{
   background-color: lightcoral;
   border: 1px solid black;
}

