a:hover{
    color:red;
    outline: 1px solid green;
}


.my-element::before{
    content: 'prefix - ';
}

::selection{
    background-color: black;
    color: white;
}

li::marker{
    color: red;
}